<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>BRP Example</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<h1>Bounded Retransmission Protocol (BRP) Example</h1>
<form>
    <label>Username:</label>
    <input type="text" id="username" placeholder="Enter username">
    <br>
    <br>
    <button id="send-request-button">Send Request</button>
</form>
<p id="response-text"></p>

<script>
    const BRP_TIMEOUT = 1000; // retransmission timeout in milliseconds
    const BRP_MAX_RETRIES = 5; // maximum number of retries

    async function sendRequest() {
        let username = document.getElementById("username").value;

        let user = {
            "username": username,

        }
        let retries = 0;
        let response;
        // Send the request and wait for the response
        while (retries < BRP_MAX_RETRIES) {
            response = send(user);
            if (response) {
                // Return the response if it is received
                return response;
            } else {
                // Increment the retry count and wait for the timeout
                retries++;
                await sleep(BRP_TIMEOUT);
            }
        }
        // Return null if the maximum number of retries is reached
        return null;
    }

    function send(user) {
        // Send the request to the server and return the response
        try {
            // Use the fetch function or XMLHttpRequest or any other library to send the request and receive the response
            return fetch("http://localhost:8080/send-request", {
                method: "POST",
                body: JSON.stringify(user),
                headers: { 'Content-Type': 'application/json' },
            })
                .then(res => res.json())
                .then(data => {
                    return data;
                });
        } catch (err) {
            console.error(err);
        }
    }

    // Add an event listener to the send request button
    document.getElementById("send-request-button").addEventListener("click", async () => {
        try {
            let response = await sendRequest();
            let responseText = document.getElementById("response-text");
            responseText.innerHTML = "Response: " + JSON.stringify(response);
            console.log(responseText)
        } catch (error) {
            console.log(error);
            let responseText = document.getElementById("response-text");
            responseText.innerHTML = "No response received.";
        }
    });
</script>
</body>
</html>


