<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
  <h1>Home</h1>
  <div>
      User: <span sec:authentication="name">NOT FOUND</span> <br/>
  </div>

  <tr th:each="song: ${songs}">
      <div class="row">
      <a th:href="|/songs/${song.id}|">
          <div><img th:src="${song.image}"/></div>
          <div class="data" >
              <td th:text="${song.title}" /></br>
              <td th:text="${song.artist}"/>
              <td th:text="| • ${song.views} views|"/>
          </div>
      <br/>
      </div>
      </a>
  </tr>
</body>
</html>