<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
  <h1>Home</h1>
  <div sec:authorize="hasRole('ADMIN')">
      This content is only shown to administrators.
  </div>

  <div sec:authorize="hasRole('USER')">
      This content is only shown to users.
  </div>
  <div>
      User: <span sec:authentication="name">NOT FOUND</span> <br/>
      Spring Roles: <span sec:authentication="principal.authorities">NOT FOUND</span>
  </div>

  <tr th:each="song: ${songs}">
      <td th:text="${song.title}" />
      <td> <a th:href="|/songs/${song.id}|" th:text="${song.title}"/> </td>
      <br/>
  </tr>
</body>
</html>