<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Song:</h1>

    <p th:text="${song.name}"></p>

    <p> count: <span th:text="${count}" id="output"></span></p>
    <button onclick="updateValueAtEndPoint('#output','/like')" id="1">Like</button>

    <img th:src="${song.image}" />
    <audio controls>
        <source th:src="${song.address}" type="audio/mpeg">
    </audio>
    <p th:text="${song.description}"></p>

</body>

    <script>
        function updateValueAtEndPoint(id,endpoint) {
            $.post(endpoint).done(function (fragment) {
                console.log(fragment);
                $(id).html(fragment);
            });
        }
    </script>
</html>