<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Song:</h1>

    <p th:text="${song.title}"></p>
    <p th:text="${id}"></p>

    <p> Likes: <span th:text="${song.likes}" id="likes"></span></p>
    <button onclick="updateValueAtEndPoint('#likes','/like/')" >Like</button>

    <p> Dislikes: <span th:text="${song.dislikes}" id="dislikes"></span></p>
    <button onclick="updateValueAtEndPoint('#dislikes','/dislike/')" >Dislike</button>

    <img th:src="${song.image}" />
    <audio controls>
        <source th:src="${song.link}" type="audio/mpeg">
    </audio>
    <p th:text="${song.description}"></p>

</body>
    <script>
        function updateValueAtEndPoint(id,endpoint) {
            $.post(endpoint + [[${id}]]).done(function (fragment) {
                console.log(fragment);
                $(id).html(fragment);
            });
        }
    </script>
</html>